<div class="comment-container">
    <div class="container">
        <div class="comment container medium">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_config = function () {
                    this.page.url = "{{url absolute="true"}}";
                };
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://rozhkov.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
        </div>
    </div>
</div>